body, html {
    height: 100%;
    margin: 0;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    /* Creating grid lines */
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 50px 50px; /* Size of the grid */
}

#loading-text {
    font-size: 2em;
    color: white; /* White text and button */
    transition: all 0.5s ease; /* Smooth transition for text changes */
    z-index: 9999;
}

.button-container {
    position: relative;
    display: inline-block; /* Adjust as needed */
}

#launch-button {
    padding: 10px 40px; /* Increased padding for larger size */
    font-size: 16px; /* Slightly larger font size */
    color: #fff;
    letter-spacing: 8px;
    background-color: black; /* Black background */
    border: 1px solid white; /* White border */
    cursor: pointer;
    margin-top: 20px;
    display: inline-block; /* Use inline-block for better control */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 10px white; /* Glowing effect */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    animation: 0.8s ease-out 0s 1 normal both running fadeInUp;
    position: relative;
    z-index: 10000;
}

#launch-button:hover, #launch-button:focus {
    background-color: #333; /* Slightly lighter black on hover/focus */
    box-shadow: 0 0 15px white, 0 0 30px white; /* Increased glowing effect on hover/focus */
    z-index: 10000;
}

.loading-gif {
    position: absolute;
    bottom: 100%; /* Position the GIF above the button */
    left: 50%; /* Center the GIF horizontally */
    transform: translateX(-50%); /* Adjust horizontal position */
    width: 50px; /* Adjust the size of the GIF */
    height: auto; /* Maintain aspect ratio */
    z-index: 9999; /* Ensures the GIF is above the button */
}

.vhs-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        repeating-linear-gradient(
            transparent,
            transparent 1px,
            rgba(255, 255, 255, 0.05) 1px,
            rgba(255, 255, 255, 0.05) 2px
        ),
        repeating-linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.03),
            rgba(0, 255, 0, 0.03) 33%,
            rgba(0, 0, 255, 0.03) 66%
        );
    background-size: 100% 4px, 3px 100%;
    mix-blend-mode: screen; /* Blends the overlay with the content */
    z-index: 1000; /* Ensures overlay is above other content */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}